<!--Inicia Tabla-->
<div class="panel-body">
	<app-encabezado-rep></app-encabezado-rep>
	<div class="panel-heading"><h3>Casos atendidos por documento de identificacion</h3></div>
	<div class="col-md-12">
		<div class="table-container">  
			<div class="responsive-table">
				<table class="table table-striped " border="1px" align="center">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Año</th>
							<th scope="col">Mes</th>
							<th scope="col">Certificado de Nacimiento</th>
							<th scope="col">Cedula de Identidad</th>
							<th scope="col">DNI</th>
							<th scope="col">Ninguno</th>
						</tr>
					</thead>
					<tbody border="1px">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="6">No hay registros !!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
                          <!--Fin de Tabla-->