<!--Inicia Tabla-->
<div class="panel-body">
	<!--Inicio buscador por año-->
	<div class="col-md-10">
		<div class="col-md-3">
			<label>Mostrar reporte del año:</label>
		</div>
		<div class="col-md-3">
			<input type="date" class="form-text" id="entry_date" name="entry_date">
		</div>

		<div class="col-md-3">
			<label>Mostrar reporte del año:</label>
		</div>
		<div class="col-md-3">
			<input type="date" class="form-text" id="entry_date" name="entry_date">
		</div>
	</div>
	<!--Fin buscador por año-->
	<div class="panel-heading"><h3>Casos atendidos por ocupacion de la adolescente</h3></div>
	<div class="col-md-12">
		<div class="table-container">  
			<div class="responsive-table">
				<table class="table table-striped " border="1px" align="center">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Año</th>
							<th scope="col">Mes</th>
							<th scope="col">Ocupacion</th>
							<th scope="col">Numero</th>
						</tr>
					</thead>
					<tbody border="1px">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="5">No hay registros !!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!--Fin de Tabla-->
