<!--Inicio Tabla-->
    <div class="panel-body">
        <div class="col-md-12 padding-0" style="padding-bottom:20px;">
            <a class="btn btn-success mb-3" href="agregar_usuario.html">Agregar Usuario</a>
            <div class="col-md-12 padding-0">
            <br>
                <div class="col-md-12">
                    <div class="table-container">
                        <div class="responsive-table" >
                            <table class="table table-striped " border="1px" align="center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre y Apellido</th>
                                        <th scope="col">Fotografia</th>
                                        <th scope="col">CI</th>
                                        <th scope="col">Correo electronico</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody border="1px">
                                    <tr>
                                        <td scope="row"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="btn btn-info mb-1" href="modificar_usuario.html"><i class="icons icon-pencil">Editar</i></a>
                                        	<button type="submit" class="btn btn-danger" onclick="return confirm('seguro que quiere eliminar?')"><i class="icons icon-trash">Eliminar</i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">No hay registros !!</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   	</div>
                </div>
            </div>
        </div>
    </div>
    <!--Inicio de pie de tabla-->
    <div class="col-md-6" style="padding-top:20px;">
        <span>Mostrar 0-10 of 30 items</span>
    </div>
    <div class="col-md-6">
        <ul class="pagination pull-right">
            <li>
	            <a href="#" aria-label="Previous">
	            	<span aria-hidden="true">&laquo;</span>
	           	</a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>
                <a href="#" aria-label="Next">
            	    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <!--Fin de pie de tabla-->
<!--Fin Tabla-->
