<!-- start:Left Menu-->
<div id="left-menu">
    <div class="sub-left-menu scroll">
        <ul class="nav nav-list">
            <li><div class="left-bg"></div></li>
            <li class="time">
                <h1 class="animated fadeInLeft">21:00</h1>
                <p class="animated fadeInRight">Dia,Mes nuemro_dia año</p>
            </li>

<!--Inicio Adminsitrador-->

            <li class="active ripple">
                <a class="tree-toggle nav-header" routerLink="">
                	<span class="fa-home fa"></span> Inicio 
                	<span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <!--
                <ul class="nav nav-list tree">
                    <li><a href="rep_atencion.html">Reporte-Atencio caso</a></li>
                    <li><a href="rep_problematica.html">Reporte-Problematica</a></li>
                    <li><a href="rep_edad.html">Reporte-por edad</a></li>
                    <li><a href="rep_documento.html">Reporte-documento de identificacion</a></li>
                    <li><a href="rep_origen.html">Reporte-lugar de origen</a></li>
                    <li><a href="rep_ocupacion.html">Reporte-ocupacion</a></li>
                </ul>
               -->
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
	                <span class="fa-diamond fa"></span>Usuarios
	                <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul class="nav nav-list tree">
                    <li><a routerLink="agregar-usuario">Aregar Usuario</a></li>
                    <li><a routerLink="modificar-usuario">Modificar Datos</a></li>
                    <li><a routerLink="listar-usuario">Mostrar Usuarios</a></li>
                    <li><a href="ver_perfil.html">Ver Perfil</a></li>
				        </ul>
            </li>
<!--Fin Adminsitrador-->
<!--Inicio Usaurio estandar-->
			
                    <li class="active ripple">
                      <a class="tree-toggle nav-header" href="index_estandar.html"><span class="fa-home fa"></span> Inicio 
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                          <li><a href="ver_rep_es.html">Ver Reportes</a></li>
                          <li><a href="editar_rep_es.html">Editar Observaciones</a></li>
                          <li><a href="exportar.html">Exportar</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa-diamond fa"></span>Ficha de Ingreso
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                        <li><a href="agregar_ingreso_1.html">Aregar Ingreso</a></li>
                        <li><a href="modificar_ingreso_1.html">Modificar Ingreso</a></li>
                        <li><a href="mostrar_ingreso.html">Mostrar Ingreso</a></li>                     
                      </ul>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa-diamond fa"></span>Ficha Social
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                        <li><a href="agregar_socail_1.html">Aregar Social</a></li>
                        <li><a href="modificar_social_1.html">Modificar Social</a></li>
                        <li><a href="mostrar_social.html">Mostrar Social</a></li>                     
                      </ul>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa-diamond fa"></span>Ficha Egreso
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                        <li><a href="agregar_egreso_1.html">Aregar Egreso</a></li>
                        <li><a href="modificar_egreso_1.html">Modificar Egreso</a></li>
                        <li><a href="mostrar_egreso.html">Mostrar Egreso</a></li>                     
                      </ul>
                    </li>
                
<!--Fin Usuario estandar-->
        </ul>
    </div>
</div>
<!-- end: Left Menu-->
