<app-header></app-header>
<div class="container-fluid mimin-wrapper">
	<app-menu></app-menu>
	<!-- start: content -->
        <div id="content">
        	<!--Encabezado principal-->
        	<app-main-header></app-main-header>
        	<div class="form-element">
                <div class="col-md-12">
                    <div class="panel form-element-padding">
                	    <div class="panel-heading">
                    	    <h4>Registre los datos de un nuevo usuario que maneje el sistema</h4>
                        </div>
                    <div class="panel-body" style="padding-bottom:15px;">
                    	<!--Inicio Body
		
                    	<app-agregar-usuario></app-agregar-usuario>
                    	<app-listar-usuario></app-listar-usuario>
                  	
                    	Fin Body-->
                    	<app-modificar-usuario></app-modificar-usuario>
                    </div>
                </div>
            </div>
     	</div>
    <!-- end: content --> 
</div>
