<br>
<br>
<br>
<!--Inicio buscador por fecha-->
<div class="col-md-10">
	<div class="col-md-3">
		<label>Mostrar indicadores de:</label>
	</div>
	<div class="col-md-3">
		<input type="date" class="form-text" id="entry_date" name="entry_date">
	</div>
</div>
<!--Fin buscador por fecha-->

<!--Inicia Indicador 1-->
<div class="col-md-3">
	<div class="panel">
		<div class="panel-heading-white panel-heading text-center" >
			<h4 href="">Atencion de casos</h4>
		</div>
		<div class="panel-body">
			<center>
				<canvas class="doughnut-chart"></canvas>
				<div class="col-md-2" >
					<a align="right" href="rep_atencion.html">Ver</a>
				</div>
			</center>
		</div>
	</div>
</div>
<!--Fin de Indicador 1-->

<!--Inicio Indiador 2-->
<div class="col-md-3">
	<div class="panel">
		<div class="panel-heading-white panel-heading text-center">
			<h4>Problematica de Ingreso</h4>
		</div>
		<div class="panel-body">
			<center>
				<canvas class="pie-chart"></canvas>
				<div class="col-md-2" >
					<a align="right" href="">Ver</a>
				</div>
			</center>
		</div>
	</div>
</div>
<!--Fin Indicador 2-->
